PORT=8000
MONGO_URI=mongodb://127.0.0.1:27017/taskplanet
CORS_ORIGIN=http://localhost:5173

ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_key_here_random_string
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret_key_here_random_string
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

GOOGLE_CLIENT_ID=your_google_oauth_client_id.apps.googleusercontent.com
